html,body{
    padding:0;
    margin: 0;
}
h1 {
    margin: 30px;
    text-align: center;
    Font-Family: 'Ubuntu', Sans-Serif;
    Font-Size: 48px;
}

h2 {
    text-align: center;
    font-size: 2em;
    Font-Family: 'Ubuntu', Sans-Serif;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    Font-Family: 'Open Sans', Sans-Serif;
}

p {
    text-align: center;
    color: black;
    Font-Family: 'Open Sans', Sans-Serif;
}

header {
    padding: 15px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header picture {
    grid-column: 1;
    display: inline-block;
    width: 75px;
    overflow-x: hidden;
}

.laura{
    grid-column: 2;
}

nav {
    grid-column: 3;
}

footer {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    width: 1fr;
    background-color: lightgray;
}

footer h1 {
    display: inline-block;
    text-align: right;
    font-size: 1.2em;
}

footer h2 {
    font-size: 1.4em;
}

footer picture {
    display: inline-block;
    width: 75px;
    overflow-x: hidden;
}


@media screen and (min-width: 860px) {


    header picture {
        width: auto;
        overflow: visible;
    }

    footer picture {
        width: auto;
        overflow: visible;
    }
}
