h1 {
    margin: 30px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 2em;
}
h3 {
    text-align: center;
    font-size: 1.5em;
}
p {
    text-align: center;
    color: black;
}
header {
    padding: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}
header picture {
    display: inline-block;
    width: 75px;
    overflow-x: hidden;
}

section {
    text-align: center;
    margin-bottom: 70px;
}
section a {
    position: relative;
    display: inline-block; /*get rid of*/
    width: 300px; /*get rid of*/
    height: 200px; /*get rid of*/
    border: 1px solid black; /*get rid of*/
}
section a img {
    width: 300px;
    height: 200px;
}
section a p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px;
    background-color: rgba(0,0,0,0.75);
    color: white;
    margin: 0;
}
section a p{
    display: inline;
    border: 0;
}
section ul {
    list-style-type: none;
    padding: 0px;
}
section li {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: lightgray;
}
footer h1 {
    display: inline-block;
    text-align: right;
    font-size: 1.2em;
}
footer h2 {
    font-size: 1.4em;
}
footer picture {
    display: inline-block;
    width: 75px;
    overflow-x: hidden;
}




@media screen and (min-width: 840px) {


    header picture {
        width: auto;
        overflow: visible;
    }

    footer picture {
        width:auto;
        overflow: visible;
    }



}
