#philosophy {
    background-color: rgba(255, 203, 5, 0.5);
    padding: 15px;
}

#current {
    background-color: rgba(0, 39, 76, 0.5);
    padding: 15px;
}

#past {
    background-color: rgba(255, 203, 5, 0.5);
    padding: 15px;
}
#notice {
    text-align: center;
    padding: 15px;
}

@media only screen and (min-width: 700px) {
    
    #philosophy {
        text-align: left;
    }

    #current h2 {
        text-align: right;
    }

    #past h2 {
        text-align: left;
    }


}