h1 {
    margin-bottom: 0;
}
#philosophy {
    background-color: rgba(255, 203, 5, 0.5);
    padding: 15px;
}

#current {
    background-color: rgba(0, 39, 76, 0.5);
    padding: 15px;
}

#past {
    background-color: rgba(255, 203, 5, 0.5);
    padding: 15px;
}

#notice {
    text-align: center;
    padding: 15px;
}

#info>* {
    Font-Family: 'Open Sans', Sans-Serif;
    line-height: 1.5em;
}

img {
    display: block;
    margin: auto;
}
iframe{
    display: block;
    margin: auto;
    padding: 20px;
    width: 1fr;
    height:1fr;
}

.lbl-toggle{
  color: #00274C;
  Font-Family: 'Open Sans', Sans-Serif;
}

@media only screen and (min-width: 700px) {

    #philosophy > * {
        text-align: left;
    }

    #current > * {
        text-align: right;
    }

    #past > * {
        text-align: left;
    }


}
