#notice {
    text-align: center;
    background-color: rgba(0, 39, 76, 0.5);
    padding: 15px;
}

#philosophy>* {
    text-align: left;
    /* background-color: rgba(255,203,5,0.5); */
    padding: 15px;
}

#philosophy {
    background-color: rgba(255, 203, 5, 0.5);
}

#current>* {
    text-align: right;

    padding: 15px;
}

#current {
    background-color: rgba(0, 39, 76, 0.5);
}

#past {
    background-color: rgba(255, 203, 5, 0.5);
}

#past>* {
    text-align: left;

    padding: 15px;
}