h3 {
  text-decoration: underline;
}

figure>* {
  display: block;
  margin: auto;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

figcaption {
    text-align: center;
    color: black;
    Font-Family: 'Open Sans', Sans-Serif;
    margin: 20px;
    font-size: 15px;
  }
}

aside {
  text-align: center;
  color: black;
  Font-Family: 'Open Sans', Sans-Serif;
  margin: 20px;
  font-size: 17px;
}

.lbl-toggle{
  color: #00274C;
  Font-Family: 'Open Sans', Sans-Serif;
}
